<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Django Forms</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <table>
        {{ form }}
      </table>
      <input type="submit" value="Send" />
    </form>
    <table>
      {% for director in directors %}
      <h3>
        Имя: {{ director.name }} | Потробности: {{ director.details }} |
        Возраст: {{director.age }} | Опыт работы: {{director.experience }}
      </h3>
      <hr />
      {% endfor %}
    </table>
  </body>
</html>
