<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Django Forms</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <table>
        {{ form }}
      </table>
      <input type="submit" value="Send" />
    </form>
    <table>
      {% for ad in ads %}
      <h3>
        Название: {{ ad.name }} | Потробности: {{ ad.details }} | Цена:
        {{ad.price }} | Оценка: {{ad.mark}}
      </h3>
      <hr />
      {% endfor %}
    </table>
  </body>
</html>
